.app-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #282c34;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header-content h1, .count {
  color: #fff;
}

.body-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 12px;
}

.event-count {
  margin-right: 8px;
}

.event-header {
  display: flex;
  flex-direction: row;
}

.accordion, .charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reverse {
  display: flex;
  margin-left: 8px;
}

.charts {
  /* height: 55vh; */
  width: 60vw;
}

.nav {
  margin: 0 2px;
}

.event-desc {
  margin: 0;
}