.app-container {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  background-color: #282c34;
}

.header-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.header-content h1 {
  color: #fff;
}

.body-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-desc {
  margin: 0;
}